   *{
        padding: 0px;
        margin: 0px;
    }
    .navbar{
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        gap: 320px;
        height: 110px;
    }
    .navbar > ul  {

        display: flex;
        gap: 40px;
        list-style: none;
        align-items: center;
        margin-top: 5px;

    }


    .black{
        background: black;
        color: white;
        display: flex;
        border-radius: 25px;
        height: 50px;
        border: 2px solid white;
        width: 150px;
        align-items:center ;
        justify-content: center;
    }
    .red{
        background-color: red;
        color: white;
        display: flex;
        border-radius: 20px;
        height: 50px;
        text-align: center;
        font-size: medium;
        align-items: center;
        width: 150px;
        justify-content: center;
    }


    .text {
        text-align: center;
        font-size: 30px;
    }
    .text > h1{
        font-weight: 400px;
    }
    .text > h1 >span{
        font-weight: 800px;
    }
    .con {
    background-color: #0f0f0f;
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.b1{
    display: flex;
    justify-content: space-around;
}
.tex {
    display: flex;
    flex-direction: column;
    color: white;
}
.b2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}